.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    background: #fff;
    max-width: 960px;
    margin: 10px auto;
    padding: 10px;

}

.blue {
    background-color: blue;
    width: 100px;
    height: 100px;

}

.red {
    background-color: red;
    width: 100px;
    height: 100px;
    align-self: flex-end;


}

.green {
    background-color: green;
    width: 100px;
    height: 100px;

}