 <!DOCTYPE html>

    <html>

 

    <head>

        <meta charset="utf-8">

        <title>otherPage</title>

    </head>

 

    <body>
        {{> header }}

        <h1>I am not the main layout, I am a different template</h1>

        {{{body}}}

    </body>

 
    </html>