    {{!-- <script>
        addUserToNavbar(user);
    </script> --}}
    <div class="container-fluid gedf-wrapper">
        <div class="row">
            {{!-- <div class="col-md-3 cards">
                <div class="card">
                    <div class="card-body">
                        <div class="h5">@LeeCross</div>
                        <div class="h7 text-muted">Fullname : Miracles Lee Cross</div>
                        <div class="h7">Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
                            etc.
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Followers</div>
                            <div class="h5">5.2342</div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Following</div>
                            <div class="h5">6758</div>
                        </li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div> --}}
            <div class="col-md-8 gedf-main cards">

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                                
                            
                            <div class="card-body py-2">
                                <div class="d-flex">
                                    <div>
                                        <img class="rounded-circle" width="50" src="https://picsum.photos/80/80/?random?image=4">
                                    </div>
                                    <div class="col">
                                        <form action="#">
                                            <div class="form-group mb-0">
                                                <label class="sr-only" for="exampleFormControlTextarea1">Example textarea</label>
                                                <textarea class="form-control border-0" id="exampleFormControlTextarea1" rows="2" placeholder="Do you want to share your story?"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    
                                    <div class="col">
                                        <button type="button" class="btn btn-fposts btn-block btn-sm"><i class="far fa-image"
                                                aria-hidden="true"></i> image/video</button>
                                    </div>
                                   
                                    <div class="col">
                                        <button type="button" class="btn btn-fposts btn-block btn-sm">Post</button>
                                    </div>
                                </div>
                            </div>
                    
                    
                </div>
                <!-- Post /////-->

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">Hopeinvader</div>
                                    <div class="h7 text-muted">Miracles Lee Cross</div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <div class="h6 dropdown-header">Configuration</div>
                                        <a class="dropdown-item" href="#">Save</a>
                                        <a class="dropdown-item" href="#">Hide</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
                        <a class="card-link" href="#">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adip.</h5>
                        </a>

                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor
                            sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
                        </p>
                    </div>
                    <div class="card-body icons-box">
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fas fa-heart icons-first"> 6</i>
                            <i class="fa fa-comment"> 5</i>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="far fa-heart"></i> Like</a>
                        <a href="#" class="card-link"><i class="far fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
                </div>
                <!-- Post /////-->


                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">Hopeinvader</div>
                                    <div class="h7 text-muted">Miracles Lee Cross</div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <div class="h6 dropdown-header">Configuration</div>
                                        <a class="dropdown-item" href="#">Save</a>
                                        <a class="dropdown-item" href="#">Hide</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>
                        <a class="card-link" href="#">
                            <h5 class="card-title"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consectetur
                                deserunt illo esse distinctio.</h5>
                        </a>

                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis nihil, aliquam est, voluptates officiis iure soluta
                            alias vel odit, placeat reiciendis ut libero! Quas aliquid natus cumque quae repellendus. Lorem
                            ipsum dolor sit amet consectetur adipisicing elit. Ipsa, excepturi. Doloremque, reprehenderit!
                            Quos in maiores, soluta doloremque molestiae reiciendis libero expedita assumenda fuga quae.
                            Consectetur id molestias itaque facere? Hic!
                        </p>
                        <div>
                            <span class="badge badge-primary">JavaScript</span>
                            <span class="badge badge-primary">Android</span>
                            <span class="badge badge-primary">PHP</span>
                            <span class="badge badge-primary">Node.js</span>
                            <span class="badge badge-primary">Ruby</span>
                            <span class="badge badge-primary">Paython</span>
                        </div>
                    </div>
                    <div class="card-body icons-box">
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fas fa-heart icons-first"> 6</i>
                            <i class="fa fa-comment"> 5</i>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="far fa-heart"></i> Like</a>
                        <a href="#" class="card-link"><i class="far fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
                </div>
                <!-- Post /////-->


                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">Hopeinvader</div>
                                    <div class="h7 text-muted">Miracles Lee Cross</div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <div class="h6 dropdown-header">Configuration</div>
                                        <a class="dropdown-item" href="#">Save</a>
                                        <a class="dropdown-item" href="#">Hide</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> Hace 40 min</div>
                        <a class="card-link" href="#">
                            <h5 class="card-title">Totam non adipisci hic! Possimus ducimus amet, dolores illo ipsum quos
                                cum.</h5>
                        </a>

                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sunt fugit reprehenderit consectetur exercitationem odio,
                            quam nobis? Officiis, similique, harum voluptate, facilis voluptas pariatur dolorum tempora sapiente
                            eius maxime quaerat.
                            <a href="https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU" target="_blank">https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU</a>
                        </p>
                    </div>
                    <div class="card-body icons-box">
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fas fa-heart icons-first"> 6</i>
                            <i class="fa fa-comment"> 5</i>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="far fa-heart"></i> Like</a>
                        <a href="#" class="card-link"><i class="far fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
                </div>
                <!-- Post /////-->



            </div>

            <div class="col-md-3 cards">
                <div class="card gedf-card">
                    <div class="card-body">
                        <div class="h5">Friends</div>
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="https://picsum.photos/80/80/?random?image=11" width="30" alt="">
                                </div>
                                <div class="ml-2 h7">
                                    Puffy Puppy
                                </div>
                            <div class="ml-2 state"></div>
                        </div>
                    </div>
                    {{! Have to innerJoin the above code if the user have multiple friends}}
                    <div class="card-body cb-next">
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="https://picsum.photos/80/80/?random?image=11" width="30" alt="">
                                </div>
                                <div class="ml-2 h7">
                                    Puffy Puppy
                                </div>
                            <div class="ml-2"></div>
                        </div>
                    </div>
                    <div class="card-body cb-next">
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="https://picsum.photos/80/80/?random?image=11" width="30" alt="">
                                </div>
                                <div class="ml-2 h7">
                                    Puffy Puppy
                                </div>
                            <div class="ml-2"></div>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="d-flex justify-content-center">
                            <div class="ml-2 h7">
                                    <a href="#">Show More Friends...</a>
                            </div>
                        </div>
                        
                    </div>

                </div>
                
                <!-- ////// -->

                <div class="card gedf-card">
                    <div class="card-body">
                        <div class="h5">Community</div>
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="https://picsum.photos/80/80/?random?image=11" width="30" alt="">
                                </div>
                                <a href="/community"><div class="ml-2 h7 fcLink">
                                    Cat
                                </div></a>
                        </div>
                    </div>
                    {{! Have to innerJoin the above code if the user have multiple friends}}
                    <div class="card-body cb-next">
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="https://picsum.photos/80/80/?random?image=11" width="30" alt="">
                                </div>
                                <a href="/community"><div class="ml-2 h7 fcLink">
                                    Dog
                                </div></a>
                        </div>
                    </div>
                    <div class="card-body cb-next">
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="https://picsum.photos/80/80/?random?image=11" width="30" alt="">
                                </div>
                                <a href="/community"><div class="ml-2 h7 fcLink">
                                    Bird
                                </div></a>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="d-flex justify-content-center">
                            <div class="ml-2 h7">
                                    <a href="#">Show More Communities...</a>
                            </div>
                        </div>
                        
                    </div>

                </div>
                
                {{!-- <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div> --}}
            </div>
        </div>
    </div>