<head>
	<meta charset="utf-8">
	<title>Sign up Form</title>
    <script>
        setTimeout("location.href='/login'",1000*3);
    </script>
</head>
<body class="body">
    <div class="text-center">
		You're signed up now!
        <br>
        Redirecting to Login page...
    </div>
</body>